<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:project xmlns:adtf="adtf">
	<general_settings>
		<property name="active_configuration" type="String" value="Main" />
		<property name="enable_messagebus" type="Bool" value="true" />
		<property name="synchronizing_type" type="Int" value="1" />
		<property name="media_description_files" type="String" value="./../description/*.description;./../addons/*/description/*.description;./../src/examples/src/description/*.description;../../../../src/adtfBase/AADC_ADTF_BaseFilters/description/aadc.description;../../../../src/adtfUser/demo/description/aadcImgProc.description" />
	</general_settings>
	<configurations>
		<configuration description="" name="Image_Process">
			<graph>
				<inport alias="image_in" />
				<outport alias="struct_out" />
			</graph>
		</configuration>
		<configuration description="" name="Main">
			<graph>
				<filter alias="AADC_Car_Visualization" idref="adtf.aadc.aadc_car_control" priority="50" />
				<filter alias="AADC_Attitude_Converter" idref="adtf.aadc.quaternion" priority="17" />
				<filter alias="AADC_Calibration_Scaling" idref="adtf.aadc.calibrationScaling" priority="40">
					<settings>
						<property name="Scale Factor" type="Float" value="57.29578" />
					</settings>
				</filter>
				<filter alias="AADC_Calibration_Scaling2" idref="adtf.aadc.calibrationScaling" priority="41">
					<settings>
						<property name="Scale Factor" type="Float" value="57.29578" />
					</settings>
				</filter>
				<filter alias="AADC_Calibration_Scaling3" idref="adtf.aadc.calibrationScaling" priority="42">
					<settings>
						<property name="Scale Factor" type="Float" value="57.29578" />
					</settings>
				</filter>
				<connection connection_priority="50" dest="AADC_Calibration_Scaling.input_value" interface="" source="AADC_Attitude_Converter.yaw" />
				<connection connection_priority="50" dest="AADC_Calibration_Scaling2.input_value" interface="" source="AADC_Attitude_Converter.pitch" />
				<connection connection_priority="50" dest="AADC_Calibration_Scaling3.input_value" interface="" source="AADC_Attitude_Converter.roll" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.yaw" interface="" source="AADC_Calibration_Scaling.output_value" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.pitch" interface="" source="AADC_Calibration_Scaling2.output_value" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.roll" interface="" source="AADC_Calibration_Scaling3.output_value" />
				<filter alias="AADC_RPM_Calculation" idref="adtf.aadc.rpmcalculation" priority="6" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.RPM_left" interface="" source="AADC_RPM_Calculation.RPM_left_Wheel" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.RPM_right" interface="" source="AADC_RPM_Calculation.RPM_right_Wheel" />
				<filter alias="AADC_Watchdog_Trigger" idref="adtf.aadc.watchdogGuard" priority="4" />
				<filter alias="AADC_Calibration_Scaling4" idref="adtf.aadc.calibrationScaling" priority="43">
					<settings>
						<property name="Scale Factor" type="Float" value="4.15" />
					</settings>
				</filter>
				<filter alias="AADC_Calibration_Scaling5" idref="adtf.aadc.calibrationScaling" priority="44">
					<settings>
						<property name="Scale Factor" type="Float" value="4.15" />
					</settings>
				</filter>
				<connection connection_priority="50" dest="AADC_Car_Visualization.distance_right" interface="" source="AADC_Calibration_Scaling4.output_value" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.distance_left" interface="" source="AADC_Calibration_Scaling5.output_value" />
				<filter alias="AADC_Xtion_Camera" idref="adtf.aadc.xtionCaptureDevice" priority="5">
					<settings>
						<property name="Configuration File" type="String" value="../../../../calibration_files/xtionSettings.xml" />
						<property name="active" type="Bool" value="false" />
					</settings>
				</filter>
				<subgraph alias="Base_Config2" idref="Base_Config" priority="9" />
				<connection connection_priority="50" dest="AADC_Attitude_Converter.quaternion_gyro_x" interface="" source="Base_Config2.GYR_quaternion_gyro_x" />
				<connection connection_priority="50" dest="AADC_Attitude_Converter.quaternion_gyro_z" interface="" source="Base_Config2.GYR_quaternion_gyro_z" />
				<connection connection_priority="50" dest="AADC_Attitude_Converter.quaternion_gyro_y" interface="" source="Base_Config2.GYR_quaternion_gyro_y" />
				<connection connection_priority="50" dest="AADC_Attitude_Converter.quaternion_gyro_w" interface="" source="Base_Config2.GYR_quaternion_gyro_w" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.steering_angle" interface="" source="Base_Config2.ST_steeringAngle" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.acc_x" interface="" source="Base_Config2.ACC_acc_x" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.acc_z" interface="" source="Base_Config2.ACC_acc_z" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.acc_y" interface="" source="Base_Config2.ACC_acc_y" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_left_short" interface="" source="Base_Config2.IR_front_left_shortrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_rear_left_short" interface="" source="Base_Config2.IR_rear_left_shortrange" />
				<connection connection_priority="50" dest="AADC_RPM_Calculation.wheel_speed_sensor_left" interface="" source="Base_Config2.WH_WheelSpeed_Sensor_Left" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_left_long" interface="" source="Base_Config2.IR_front_left_longrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_rear_center_short" interface="" source="Base_Config2.IR_rear_center_shortrange" />
				<connection connection_priority="50" dest="AADC_RPM_Calculation.wheel_speed_sensor_right" interface="" source="Base_Config2.WH_WheelSpeed_Sensor_Right" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.range_front_right" interface="" source="Base_Config2.US_range_front_right" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_center_short" interface="" source="Base_Config2.IR_front_center_shortrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_right_short" interface="" source="Base_Config2.IR_front_right_shortrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.range_front_left" interface="" source="Base_Config2.US_range_front_left" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_center_long" interface="" source="Base_Config2.IR_front_center_longrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.voltage_engine" interface="" source="Base_Config2.VOLT_power_circuit" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_front_right_long" interface="" source="Base_Config2.IR_front_right_longrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.range_rear_right" interface="" source="Base_Config2.US_range_rear_right" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.ir_rear_right_short" interface="" source="Base_Config2.IR_rear_right_shortrange" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.range_rear_left" interface="" source="Base_Config2.US_range_rear_left" />
				<connection connection_priority="50" dest="AADC_Car_Visualization.voltage_meassurement" interface="" source="Base_Config2.VOLT_measurement_circuit" />
				<connection connection_priority="50" dest="AADC_Calibration_Scaling4.input_value" interface="" source="Base_Config2.WH_WheelSpeed_Sensor_Right" />
				<connection connection_priority="50" dest="AADC_Calibration_Scaling5.input_value" interface="" source="Base_Config2.WH_WheelSpeed_Sensor_Left" />
				<connection connection_priority="50" dest="Base_Config2.Watchdog_Alive_Flag" interface="" source="AADC_Watchdog_Trigger.WatchdogAliveSignal" />
				<connection connection_priority="50" dest="Base_Config2.accelerate" interface="" source="AADC_Car_Visualization.accelerate" />
				<connection connection_priority="50" dest="Base_Config2.headLightEnabled" interface="" source="AADC_Car_Visualization.headLightEnabled" />
				<connection connection_priority="50" dest="Base_Config2.turnSignalLeftEnabled" interface="" source="AADC_Car_Visualization.turnSignalLeftEnabled" />
				<connection connection_priority="50" dest="Base_Config2.turnSignalRightEnabled" interface="" source="AADC_Car_Visualization.turnSignalRightEnabled" />
				<connection connection_priority="50" dest="Base_Config2.brakeLightEnabled" interface="" source="AADC_Car_Visualization.brakeLightEnabled" />
				<connection connection_priority="50" dest="Base_Config2.reverseLightsEnabled" interface="" source="AADC_Car_Visualization.reverseLightEnabled" />
				<connection connection_priority="50" dest="Base_Config2.steerAngle" interface="" source="AADC_Car_Visualization.steerAngle" />
				<filter alias="AADC_State_Controller" idref="adtf.aadc.stateController" priority="7">
					<settings>
						<property name="ManeuverFile" type="String" value="..\files\Maneuverlist.xml" />
						<property name="Debug Output to Console" type="Bool" value="true" />
					</settings>
				</filter>
				<connection connection_priority="50" dest="AADC_State_Controller.Jury_Struct" interface="" source="Base_Config2.Jury_Struct" />
				<connection connection_priority="50" dest="Base_Config2.Driver_Struct" interface="" source="AADC_State_Controller.Driver_Struct" />
			</graph>
		</configuration>
	</configurations>
	<fileinfo adtfversion="2.12.1beta" configversion="1.3" />
	<configuration_settings />
	<adtf_include source="../../BaseConfig/IncludeConfig.xml" />
</adtf:project>
