<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3043641120_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051181928_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051255656_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="Harddisk_Player_playback_queue_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_-5371688084797084936_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_110489511161367688_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_22319264_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3043641120_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3043645216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3043911456_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3044095776_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3051181928_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3051222888_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3051255656_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3051267944_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3051992936_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Slave_tcp_channel_3052066664_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://192.168.1.107:5002{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://192.168.1.210:5002{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://localhost:5002{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Harddisk_Player.hdsequencer_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Harddisk_Player.looper_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Slave.dataexchange_channel_thread_tcp://192.168.1.107:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Slave.dataexchange_channel_thread_tcp://192.168.1.209:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Slave.dataexchange_channel_thread_tcp://192.168.1.250:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Slave.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.session_control.dataexchange_channel_thread_tcp://localhost:2000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
