<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5263782383433839444_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_20_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_22_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043481376_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043489568_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043501856_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043505952_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043514144_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043526432_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043530528_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043538720_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043542816_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043546912_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043559200_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043567392_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043571488_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043575584_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043579680_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043583776_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043587872_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043591968_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043608352_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043616544_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043620640_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043645216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043649312_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043657504_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043669792_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043673888_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043690272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043694368_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043698464_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043710752_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043714848_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043718944_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043731232_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043768096_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043776288_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043780384_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043784480_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043788576_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043792672_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043796768_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043800864_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043804960_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043809056_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043829536_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043833632_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043845920_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043858208_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043866400_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043948320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043952416_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043956512_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043989280_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043993376_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043997472_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044009760_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044017952_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044026144_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044030240_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044038432_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044042528_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044054816_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044071200_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044079392_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044083488_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044087584_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044095776_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044099872_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044116256_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044120352_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044140832_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044144928_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044165408_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044198176_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044210464_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044222752_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044226848_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044230944_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044235040_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044243232_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044259616_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044267808_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044280096_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044292384_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044308768_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044312864_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044333344_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044353824_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044366112_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044370208_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044374304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044394784_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044411168_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044431648_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044452128_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044456224_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044460320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044472608_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044476704_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044484896_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044501280_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044509472_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044513568_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_4294967296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_4294967309_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_68562452747790236_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_74484284941088980_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_76345328609001485_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_76577463001415693_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_84700620547686413_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_87369272707252237_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_87976203125784589_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_91384276855029773_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_95832110627029005_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_98794779067809805_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CloseConfig" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Crossroad_Script_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Light_Machine_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Lychee_Script_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool2.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool3.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool4.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool5.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Bool6.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Signal.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Sender_Filter_Signal2.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Wheel_Lock_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="LoadGlobalsFromFile" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="Media_Sender_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Media_Sender_Filter4.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Transformation_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
