<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_-5270170352274771424_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_12886886160_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051169640_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051882344_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051902824_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_rcv_tcp_channel_3051923304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_0_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_1000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_15665549614776320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3043538720_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3044063008_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3044128544_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3044259616_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051169640_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051214696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051296616_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051464552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051706216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051718504_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051861864_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051882344_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051902824_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3051923304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3052029800_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_3052124008_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Remote_trx_tcp_channel_4297018552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://192.168.1.104:5000{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://192.168.1.207:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://192.168.1.250:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://localhost:5000{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.dataexchange_channel_thread_udp://192.168.1.107:5000{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv.udp_channel.receiver_thread(udp://192.168.1.107:5000{forceclient=true,timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv_video.dataexchange_channel_thread_udp://192.168.1.207:5003{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv_video.dataexchange_channel_thread_udp://192.168.1.250:5003{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv_video.udp_channel.receiver_thread(udp://192.168.1.207:5003{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_rcv_video.udp_channel.receiver_thread(udp://192.168.1.250:5003{timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://192.168.1.104:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://192.168.1.204:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://192.168.1.210:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_tcp://localhost:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.dataexchange_channel_thread_udp://192.168.1.104:5002{forceclient=true,timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Remote_trx.udp_channel.receiver_thread(udp://192.168.1.104:5002{forceclient=true,timeout=300000,max_package_size=65000})" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_21" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777223_22" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_1" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777249_2" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_1" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_2" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_3" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16777251_4" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16781571_3" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_16781571_4" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_91_5" priority="0" processoraffinity="0" />
	<handle flags="4" name="adtf_xsystem.key_event_91_6" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
