<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="AADC_Watchdog_Trigger.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5261882427343569748_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5263448131903189844_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5265214431234621440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5265267207792754688_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_-5266498660815863808_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_20_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_22_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043481376_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043501856_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043526432_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043542816_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043555104_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043563296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043583776_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043600160_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043628832_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043645216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043661600_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043686176_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043690272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043698464_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043731232_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043735328_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043739424_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043755808_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043776288_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043780384_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043825440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043837728_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043862304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043866400_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043895072_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043919648_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043927840_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043931936_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043948320_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043972896_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043985184_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3043997472_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044001568_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044005664_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044030240_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044042528_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044063008_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044067104_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044083488_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044095776_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044132640_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044140832_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044144928_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044173600_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044185888_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044194080_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044222752_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044226848_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044271904_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044276000_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044292384_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044304672_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044341536_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044357920_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044370208_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044382496_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044390688_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044402976_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044415264_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044423456_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044427552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044472608_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044476704_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044484896_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044493088_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044497184_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_3044509472_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_4294967296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_73932879858887716_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_77149844722712236_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_80223979172749745_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_81644287460114445_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_83176869230280717_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_83410515451183117_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_84902844809859036_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_85128657011008292_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_85804581779290852_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_87318970050281485_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_88296215586042289_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_89406152357445645_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_90749583767896077_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_92850200732762125_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_93489446489924844_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_95969120103108476_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Base_Config-Jury_Config_tcp_channel_99117863687684109_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CloseConfig" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Crossroad_Script_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Generic_Script_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Light_Machine_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Lychee_Script_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Test_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Transformation_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="FRUIT_Wheel_Lock_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="Media_Sender_Filter.timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Base_Config-Jury_Config.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.memory_manager.release_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
